*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #DED3BF url('../img/bg.jpg');
  font-family: 'Lato', sans-serif;
  color: #324B4B;
  background-attachment: fixed;
}
.navbar-bg{
  background-color: rgba(255, 255, 255, 0);
}
.navbar-bg .navbar-toggle .icon-bar {
  background-color: rgb(51,51,51);
}
.navbar{
  margin-bottom: 0px;
  border-bottom: 1px solid rgb(51,51,51);
  /*background-color: rgba(255, 255, 255, 0.25);*/
}
.navbar a{
  color: #324B4B;
}
.nav .active > a {
  background-color: rgba(0,100,130,1);
  color: white;
  /* text-decoration: underline; */
  /*border-bottom: 1px solid white;*/
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(0,100,130,1);
  color: white;
}
.wrapper:first-child{
  height: calc(100vh - 50px);
}
.wrapper{
  /*max-height: calc(100vh - 50px);*/
  height: 100vh;
  width: 100%;
  /* padding: 150px 0px; */
  /*overflow: hidden;*/
}
.wrapper .row{
  margin: 0px;
}
.row .home-wrap{
  padding: 150px 0;
}
.avatar-wrapper{
  overflow: hidden;
}
.avatar{
  background: #EEE url('../img/mani.jpg');
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid white;
  background-size: cover;
  margin: 0 auto;
  float: right;
}
.tag{
  padding: 105px 10px;
}
.tag .title{
  font-size: 3em;
  text-transform: capitalize;
}
.tag .tagline{
  font-size: 1.5em;
}
.wrapper .projects{
  background: url('../img/bg-header.png') repeat-x left bottom;
}
.proj-wrapper{
  display: flex;
  padding: 15px;
  width: 80%;
  margin: 0 auto;
}
.project{
  width: 130px;
  height: 130px;
  padding: 15px;
  border: 1px solid rgb(51,51,51);
}
.project .proj-name{
  text-align: center;
  padding: 15px 0;
}
.footer{
  padding: 15px 25px;
  margin-top: 15px;
  border-top: 1px solid rgb(51,51,51);
  font-weight: lighter;
}
@media (max-width: 992px) { 
  .row .home-wrap{
    padding: 100px 0;
  }
  .tag{
    text-align: center;
    padding: 50px;
  }
  .avatar{
    float: none;
  }
}