.root {
  position: relative;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem;
  text-align: center;
  color: #bfacaa;
  background-color: #f4f1bb;
}

.header {
  font-size: 5rem;
  font-family: 'Abel', sans-serif;
}

.highlight {
  color: #330c2f;
  font-family: 'Abel', sans-serif;
}

.header + p {
  padding: 1.2rem;
  color: #474448;
  font-size: 1.3rem;
}

.devImage {
  position: absolute;
  top: 5%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  width: 200px;
  height: 200px;
  opacity: 0.5;
  background: #f4f1bb url(./dev.png) no-repeat;
  background-size: contain;
  border-radius: 50%;
  z-index: 1;

  @media screen and (max-width: 540px) {
    top: 50px;
    transform: translateX(-50%);
  }
}

.iconsSocial {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(-50%);
  a {
    color: #bfacaa;
    :global {
      i {
        font-size: 3rem;
        padding: 1rem;
        &:hover {
          color: #474448;
        }
      }
    }
  }

  @media screen and (max-width: 540px) {
    width: 100%;
  }
}
