* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: #bfacaa;
}

:root {
  font-size: 62.5%; /** 1rem = 10px **/
}

body {
  background-color: #f4f1bb;
}
