$background: #f4f1bb;
$text-gray-color: #bfacaa;
$text-dark-gray: #474448;
$text-white-color: #fff;
$text-header-color: #330c2f;
$header-font: "ZCOOL QingKe HuangYou", cursive;
$code-font: "Roboto Mono", monospace;