.root {
}

.container {
  width: 720px;
  margin: 0 auto;
  padding: 8rem 2.4rem 16rem 2.4rem;

  @media screen and (max-width: 540px) {
    width: 100%;
  }
}

.header {
  font-family: 'Abel', sans-serif;
  font-weight: 800;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
  text-align: center;
}

.description {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.6rem;
  text-align: center;
}

.workListWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}

.title {
}

.work {
  position: relative;
  margin: 20px;

  .title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    font-size: 1.6rem;
    color: #fff;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 60, 68);
    background: linear-gradient(
      0deg,
      rgba(0, 60, 68, 1) 0%,
      rgba(4, 81, 115, 0.83) 30%,
      rgba(33, 218, 255, 0) 100%
    );
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.companiesWorkedWrapper {
  .header {
    margin-top: 50px;
  }
}

.companies {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.company {
  position: relative;
  text-decoration: none;
  text-align: center;

  .image {
    height: 100px;
    object-fit: contain;
  }

  .title {
    color: #111;
    font-size: 1.4rem;
  }
}
