.root {
}

.container {
  width: 720px;
  margin: 0 auto;
  padding: 8rem 2.4rem;

  @media screen and (max-width: 540px) {
    width: 100%;
  }
}

.header {
  font-family: 'Abel', sans-serif;
  font-weight: 800;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
  text-align: center;
}

.description {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.6rem;
  text-align: center;
}

.list {
  margin-top: 2rem;
}

.recommendation {
  font-size: 1.4rem;
  display: flex;
  margin-bottom: 2rem;
  border: 1px solid #1111111f;
  padding: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 1.6rem;
  text-align: center;
}

.text {
  flex: 1;
  margin-left: 2rem;
}
